SELECT 'CREATE POLICY \
 || pol.polname || 
\' || ' ON ' || nsp.nspname || '.' || rel.relname || CASE WHEN pol.polpermissive = true THEN ' AS PERMISSIVE' ELSE ' AS RESTRICTIVE' END || ' FOR ' || CASE pol.polcmd WHEN 'r' THEN 'SELECT' WHEN 'a' THEN 'INSERT' WHEN 'w' THEN 'UPDATE' WHEN 'd' THEN 'DELETE' WHEN '*' THEN 'ALL' ELSE pol.polcmd::text END || CASE WHEN pol.polroles IS NULL OR array_length(pol.polroles, 1) = 0 THEN ' TO public' ELSE ' TO authenticated' END || CASE WHEN pg_get_expr(pol.polqual, pol.polrelid) IS NOT NULL THEN ' USING (' || pg_get_expr(pol.polqual, pol.polrelid) || ')' ELSE '' END || CASE WHEN pg_get_expr(pol.polwithcheck, pol.polrelid) IS NOT NULL THEN ' WITH CHECK (' || pg_get_expr(pol.polwithcheck, pol.polrelid) || ')' ELSE '' END || ';' AS create_policy_sql FROM pg_catalog.pg_policy pol JOIN pg_catalog.pg_class rel ON pol.polrelid = rel.oid JOIN pg_catalog.pg_namespace nsp ON rel.relnamespace = nsp.oid WHERE nsp.nspname = 'public' AND rel.relname = 'users';
